<div class="grid_24" id="who">
  <%= image_tag 'gerri.png', :class => 'left' %>
  <h1 class="title_alt">Who is Gerri Ratigan?</h1>
  <p class="first">
    <strong>Perhaps you put aside your career or your dreams and are now left feeling stuck, angry or hurt.</strong>
  </p>
  <p class="last">
    You are not alone. Even if you feel like your whole life is over. Please, be brave because there is a new life waiting for you. As a coach having gone through a divorce myself, I've come to the firm belief that there is a huge gift here. Yet most of us don't know how to access this gift. I can teach you how to find the gift and use it as the foundation of a new exciting life. You <em>can</em> create a life you love from the ashes of the old.
  </p>
</div>
<%= render 'shared/hr' %>
<div class="clear"></div> 
<div class="grid_24" id="footer"> 
  All Wrongs Reserved &copy; Copyleft<br />
  <span class="blue">My</span><span class="orange">Doctor</span><br />
  <%= mail_to "contact@mydoctor.com", "Contact Us", :encode => "javascript" %>
</div>
