<div class="grid_24" id="header"> 
  <%= image_tag 'logo2.png' %> 
</div> 

<div class="clear"></div>

<% if notice %>
<div class="grid_24">
  <div id="notice">
    <%= notice %>
  </div>
</div>
<% end %>
